doctype
html(lang="en")
	head
		title Future Imperfect
		meta(CHARSET="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		
		link(rel="stylesheet", href="assets/css/bootstrap.min.css")
		link(rel="stylesheet", href="assets/css/font-awesome.min.css")
		link(rel="stylesheet", href="assets/css/main.css")
		link(href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Playfair+Display:400italic' rel='stylesheet' type='text/css')
	body
		header.header_area
			nav.navbar.navbar-default.navbar-fixed-top.nav-fut-imperfect
				.container
					.navbar-header
						button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
							span.sr-only Toggle Navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a.navbar-brand(href="#") FUTURE IMPERFECT
					#navbar.navbar-collapse.collapse
						ul.nav.navbar-nav.nav-before
							li
								a(href="#") Home
							li
								a(href="#") About Us
							li
								a(href="#") Services
							li
								a(href="#") Galleries
							li
								a(href="#") Contact
						ul.nav.navbar-nav.navbar-right
							li
								a(href="#")
									i.fa.fa-search
		section.main
			.container
				.hero-section
					.hexagono
						.img-content
							.bg-img
					.title
						h2.text-center.big-text Future Imperfect
						p.text-center Another fine responsive site template by 
							span.underline Html5 Up
				.article
					.second-top
						.row
							.col-xs-8.col-sm-9.col-md-9.col-lg-9
								.sec-top-left
									h3.big-text.resp Magna Sed Adipiscing
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							.col-xs-4.col-sm-3.col-md-3.col-lg-3
								.sec-top-right.pull-right
									h5(title="Ver todas las publicaciones del 1ero de Noviembre del 2015") November 1, 2015
									span.underline(title="Jane Doe. Click para saber más sobre ella") Jane doe
									img(src="images/avatar.jpg", alt="JANE DOE")
					.second-bottom
						img(src="images/pic01.jpg", alt="Jane Doe picture" class="w-100")
						p Mauris neque quam,  lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus quasi molestias soluta ipsam est harum aut suscipit porro, at voluptatem. Illo, exercitationem, dolorem. Eum eaque, vitae tempora eos, non, vel fugiat nam impedit tenetur sint officia molestias facere ea ut laboriosam, consequuntur. Tempora maxime deserunt laboriosam dignissimos ratione voluptatibus facilis.
						.read
							a(href="#" title="Continuar leyendo").pull-left.botones continue reading
							.pull-right.likes
								ul
									li
										a(href="#" title="General").underline General
									li
										a(href="#")
											i.fa.fa-heart
											span(title="28 Likes") 28
									li
										a(href="#")
											i.fa.fa-comment
											span(title="128 Comments") 128
				.seccion-botones
					a(href="#").boton-inactivo.botones
						i.fa.fa-angle-left
						span Previous Page
					a(href="#").botones
						span Next Page
						i.fa.fa-angle-right
		script(src="https://code.jquery.com/jquery-1.10.2.min.js")
		script(type="text/javascript" src="assets/js/bootstrap.min.js")